<html>

<head>
  <link href="/css/styles.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style>
    body{
      background-image: url(https://data.whicdn.com/images/269842832/original.gif);
    }
  </style>
</head>

<body class="customer">
  <%- include('./_menu.ejs') %>
  <%- include('./_inform.ejs') %>
  <div>
    <h2 class="text-center">CHI TIẾT SẢN PHẨM</h2>
    <h1 style=" position:absolute; left:200px; top:200px" class="vuong3"></h1>
    <figure>
      <img style=" position:absolute; left:330px; top:300px" src="data:image/jpg;base64,<%=prod.image%>" width="400" height="400" />
      <figcaption>
        <form action="./add2cart" method="POST">
          <table>
            <tr>
            <tr>
            <tr>
              <h1 style=" font-size: xx-large; position:absolute; left:220px; top:220px"align="right">Sản Phẩm :</h1>
              <h1 style=" font-size: xx-large; position:absolute; left:390px; top:220px" ><%=prod.name%></h1>
              <h1 style="position:absolute; left:220px; top:270px" class="borderimg3"></h1>
            <tr>
            <tr>
              <td style=" font-size: x-large; position:absolute; left:740px; top:290px" align="right">Đơn Giá:</td>
              <td style=" font-size: x-large; position:absolute; left:840px; top:290px"><%=prod.price%>$</td>
              <h6 style=" color: orange; position:absolute; left:940px; top:307px">Lãi Xuất 0%</h6>
            <tr>
            <tr>
              <td style=" font-size: x-large; position:absolute; left:740px; top:350px" align="right">Danh mục:</td>
              <td style=" font-size: x-large; position:absolute; left:860px; top:350px"><%=prod.category.name%></td>
            <tr>
            <tr>
              <td style=" font-size: x-large; position:absolute; left:740px; top:410px"align="right">SỐ LƯỢNG:</td>
              <td style=" font-size: x-large; position:absolute; left:870px; top:410px"><input type="number" name="txtQuantity" value="1" min="1" max="99" required /></td>
            <tr>
            <tr>
              <td><input type="hidden" name="txtID" value="<%=prod._id%>" /></td>
              <td style=" position:absolute; left:800px; top:480px" ><input class="btn btn-success" type="submit" value="ADD TO CART" /></td>
            </tr>
          </table>
        </form>
      </figcaption>
    </figure>
  </div>
</body>

</html>