<html>

<head>
  <link href="/css/styles.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body class="customer">
  <%- include('./_menu.ejs') %>
  <%- include('./_inform.ejs') %>
  <div class="align-center">
    <h2 class=" text-center  ">Thông tin giỏ hàng </h2>
    <table class="datatable" border="2">
      <tr class="datatable">
        <th class="brcart fontcart  ">STT.</th>
        <th class="brcart fontcart" >Tên</th>
        <th class="brcart fontcart" >Danh mục</th>
        <th class="brcart fontcart" >Ảnh</th>
        <th class="brcart fontcart"  >Đơn Giá</th>
        <th class="brcart fontcart" >Số lượng</th>
        <th class="brcart fontcart" >Tổng</th>
        <th class="brcart fontcart" >Chức năng</th>
      </tr>
      <%  for (var [i, item] of session.mycart.entries()) { %>
      <tr class="datatable">
        <td style="background-color:white;"><%=(i+1)%></td>
        <td style="background-color:white;"><%=item.product.name%></td>
        <td style="background-color:white;"><%=item.product.category.name%></td>
        <td><img src="data:image/jpg;base64,<%=item.product.image%>" width="100" height="100" /></td>
        <td style="background-color:darkgray;color: green;font-size: x-large;"><%=item.product.price%>$</td>
        <td style="background-color:white;"><%=item.quantity%></td>
        <td style="background-color:darkgray;color: green;font-size: x-large;"><%=item.product.price * item.quantity%>$</td>
        <td class="rm "> <a href="./remove2cart?id=<%=item.product._id%>">Xóa Sản Phẩm</a></td>
      </tr>
      <%  } %>
      <tr>
        <td colspan="5"></td>
        <td class="brcart fontcart">Hóa Đơn:</td>
        <td class="brcart fontcart"><%=total%>$</td>
        <td class="check-out "><a href="./checkout" onclick="return confirm('ARE YOU SURE?')">Thanh Toán</a></td>
      </tr>
    </table>
  </div>
</body>

</html>